.c-smart{
    display: flex;
    justify-content: center;
    margin-top: 30rem;
    width: 100%;
    &__about{
        color: white;
        text-align: center;
        text-transform: uppercase;
    }
    &__profession{
        font-weight: $fw-bold;
    }
    &__experts{
        font-size: .75rem;
       margin-top: 2rem;
    }
    &__img{
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
    }

}

@media only screen and (max-width: 1200px ) {
    .c-smart{
        margin-top: 25rem;
    }
}

@media only screen and (max-width: 992px ) {
    .c-smart{
        margin-top: 20rem;
    }
}
@media only screen and (min-width: 1600px ) {
    .c-smart{
        margin-top: 38rem;
    }
}

