.c-contact{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 14px;
    margin-bottom: 2rem;
    font-weight: $fw-medium;
    &__info{
        width: 100%;
        text-align: center;
    }
    &__i{
        a{
            text-decoration: none;
            color: white;
            transition: all .25s ease-out;
            &:hover{
                transition: all .25s ease-in;
                color: #3C3C3B;
            }
        }
    }

}
