.c-profile{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 7.5rem;
    &__image{
        width: 10rem;
    }
    &__url{
        position: absolute;
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
    }
    &__linkedIn{
        position: relative;
        left: 8.2rem;
        top: 0;
    }
    &__btn{
        margin-top: 7.5rem;
        padding: 1rem;
        background-color: orange;
        text-align: center;
        width: 25rem;
    }
}