@import "settings";

*{
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-weight: $fw-bold;
    font-size: 1rem;
}

.bg::before{
    content: "";
    background:url("../img/achtergrond.jpg");
    background-size: cover;
    background-position: top;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}